In [1]:
import os
import pandas as pd

CurrentDir = os.getcwd()
print(CurrentDir)
base_dir = os.path.join(CurrentDir, 'Original Images')
ground_truths = os.path.join(CurrentDir, 'Groundtruths')
classify_dir = os.path.join(base_dir, 'Training Set')
classify_dir1 = os.path.join(base_dir, 'Testing Set')

C:\Users\prajw\Downloads\Documents\TENSORFLOW TUTORIAL\DEEP LEARNING PROJECTS\DR_DATASET

In [2]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [3]:
def create_directory(parent_path):
    if not os.path.exists(os.path.join(parent_path, 'No_DR')):
        os.makedirs(os.path.join(parent_path, 'No_DR'))
    
    if not os.path.exists(os.path.join(parent_path, 'Mild_NPDR')):
        os.makedirs(os.path.join(parent_path, 'Mild_NPDR'))
        
    if not os.path.exists(os.path.join(parent_path, 'Moderate_NPDR')):
        os.makedirs(os.path.join(parent_path, 'Moderate_NPDR'))
        
    if not os.path.exists(os.path.join(parent_path, 'Severe_NPDR')):
        os.makedirs(os.path.join(parent_path, 'Severe_NPDR'))
    
    if not os.path.exists(os.path.join(parent_path, 'Proliferative_DR')):
        os.makedirs(os.path.join(parent_path, 'Proliferative_DR'))
    
create_directory(classify_dir)
create_directory(classify_dir1)

# DATA TRANSFERING TRAINING SET

In [4]:
load_data = pd.read_csv(os.path.join(ground_truths, 'a. IDRiD_Disease Grading_Training Labels.csv'))

In [5]:
load_data.drop(["Unnamed: 3", "Unnamed: 4", "Unnamed: 5", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10","Unnamed: 11"],axis=1, inplace = True)
print(load_data.head())

  Image name  Retinopathy grade  Risk of macular edema
0  IDRiD_001                  3                       2
1  IDRiD_002                  3                       2
2  IDRiD_003                  2                       2
3  IDRiD_004                  3                       2
4  IDRiD_005                  4                       0

In [6]:
load_data.rename(columns={"Image name":"Image_name","Retinopathy grade":"Grade_DR", "Risk of macular edema ":"Risk_Edema"}, inplace = True)

In [7]:
print(load_data.head())

  Image_name  Grade_DR  Risk_Edema
0  IDRiD_001         3           2
1  IDRiD_002         3           2
2  IDRiD_003         2           2
3  IDRiD_004         3           2
4  IDRiD_005         4           0

In [13]:
#FILTERING IMAGES BELONGING TO 0
mask0 = load_data['Grade_DR'].isin([0])
class0 = load_data[mask0]
print(class0.shape)
class0.head()

(134, 3)

    Image_name  Grade_DR  Risk_Edema
117  IDRiD_118         0           0
137  IDRiD_138         0           0
138  IDRiD_139         0           0
139  IDRiD_140         0           0
140  IDRiD_141         0           0

In [15]:
#FILTERING IMAGES BELONGING TO 1
mask1 = load_data['Grade_DR'].isin([1])
class1 = load_data[mask1]
print(class1.shape)
class1.head()

(20, 3)

    Image_name  Grade_DR  Risk_Edema
20   IDRiD_021         1           0
78   IDRiD_079         1           0
104  IDRiD_105         1           0
193  IDRiD_194         1           0
197  IDRiD_198         1           0

In [18]:
#FILTERING IMAGES BELONGING TO 2
mask2 = load_data['Grade_DR'].isin([2])
class2 = load_data[mask2]
print(class2.shape)
class2.head()

(136, 3)

   Image_name  Grade_DR  Risk_Edema
2   IDRiD_003         2           2
15  IDRiD_016         2           2
17  IDRiD_018         2           2
18  IDRiD_019         2           2
19  IDRiD_020         2           2

In [19]:
#FILTERING IMAGES BELONGING TO 3
mask3 = load_data['Grade_DR'].isin([3])
class3 = load_data[mask3]
print(class3.shape)
class3.head()

(74, 3)

   Image_name  Grade_DR  Risk_Edema
0   IDRiD_001         3           2
1   IDRiD_002         3           2
3   IDRiD_004         3           2
8   IDRiD_009         3           2
10  IDRiD_011         3           1

In [23]:
#FILTERING IMAGES BELONGING TO 4
mask4 = load_data['Grade_DR'].isin([4])
class4 = load_data[mask4]
print(class4.shape)
class4.head()

(49, 3)

  Image_name  Grade_DR  Risk_Edema
4  IDRiD_005         4           0
5  IDRiD_006         4           1
6  IDRiD_007         4           0
7  IDRiD_008         4           2
9  IDRiD_010         4           1

In [27]:
#MOVING FILES TO THE SPECIFIC GRADING FOLDERS
grp0T_dir = os.path.join(classify_dir, 'No_DR')
grp1T_dir = os.path.join(classify_dir, 'Mild_NPDR')
grp2T_dir = os.path.join(classify_dir, 'Moderate_NPDR')
grp3T_dir = os.path.join(classify_dir, 'Severe_NPDR')
grp4T_dir = os.path.join(classify_dir, 'Proliferative_DR')

In [30]:
#Transfering grade 0
for index, image in enumerate(class0['Image_name']):
    image_path = os.path.join(classify_dir, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp0T_dir, image))

In [31]:
#Transfering grade 1
for index, image in enumerate(class1['Image_name']):
    image_path = os.path.join(classify_dir, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp1T_dir, image))

In [32]:
#Transfering grade 2
for index, image in enumerate(class2['Image_name']):
    image_path = os.path.join(classify_dir, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp2T_dir, image))

In [33]:
#Transfering grade 3
for index, image in enumerate(class3['Image_name']):
    image_path = os.path.join(classify_dir, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp3T_dir, image))

In [34]:
#Transfering grade 4
for index, image in enumerate(class4['Image_name']):
    image_path = os.path.join(classify_dir, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp4T_dir, image))

In [ ]:
##Transfered

# DATA TRANSFERING TESTING SET

In [37]:
load_data = pd.read_csv(os.path.join(ground_truths, 'b. IDRiD_Disease Grading_Testing Labels.csv'))

In [38]:
print(load_data.head())

  Image name  Retinopathy grade  Risk of macular edema
0  IDRiD_001                  4                       0
1  IDRiD_002                  4                       1
2  IDRiD_003                  4                       0
3  IDRiD_004                  4                       0
4  IDRiD_005                  4                       1

In [39]:
load_data.rename(columns={"Image name":"Image_name","Retinopathy grade":"Grade_DR", "Risk of macular edema ":"Risk_Edema"}, inplace = True)

In [40]:
#FILTERING IMAGES BELONGING TO 0
mask0 = load_data['Grade_DR'].isin([0])
class0 = load_data[mask0]
print(class0.shape)
class0.head()

(34, 3)

   Image_name  Grade_DR  Risk_Edema
28  IDRiD_029         0           0
29  IDRiD_030         0           0
36  IDRiD_037         0           0
37  IDRiD_038         0           0
38  IDRiD_039         0           0

In [41]:
#FILTERING IMAGES BELONGING TO 1
mask1 = load_data['Grade_DR'].isin([1])
class1 = load_data[mask1]
print(class1.shape)
class1.head()

(5, 3)

    Image_name  Grade_DR  Risk_Edema
62   IDRiD_063         1           0
72   IDRiD_073         1           0
73   IDRiD_074         1           0
84   IDRiD_085         1           0
100  IDRiD_101         1           0

In [42]:
#FILTERING IMAGES BELONGING TO 2
mask2 = load_data['Grade_DR'].isin([2])
class2 = load_data[mask2]
print(class2.shape)
class2.head()

(32, 3)

   Image_name  Grade_DR  Risk_Edema
7   IDRiD_008         2           2
8   IDRiD_009         2           2
9   IDRiD_010         2           2
10  IDRiD_011         2           2
11  IDRiD_012         2           2

In [43]:
#FILTERING IMAGES BELONGING TO 3
mask3 = load_data['Grade_DR'].isin([3])
class3 = load_data[mask3]
print(class3.shape)
class3.head()

(19, 3)

   Image_name  Grade_DR  Risk_Edema
5   IDRiD_006         3           1
6   IDRiD_007         3           0
12  IDRiD_013         3           2
13  IDRiD_014         3           2
15  IDRiD_016         3           2

In [44]:
#FILTERING IMAGES BELONGING TO 4
mask4 = load_data['Grade_DR'].isin([4])
class4 = load_data[mask4]
print(class4.shape)
class4.head()

(13, 3)

  Image_name  Grade_DR  Risk_Edema
0  IDRiD_001         4           0
1  IDRiD_002         4           1
2  IDRiD_003         4           0
3  IDRiD_004         4           0
4  IDRiD_005         4           1

In [45]:
#MOVING FILES TO THE SPECIFIC GRADING FOLDERS
grp0Te_dir = os.path.join(classify_dir1, 'No_DR')
grp1Te_dir = os.path.join(classify_dir1, 'Mild_NPDR')
grp2Te_dir = os.path.join(classify_dir1, 'Moderate_NPDR')
grp3Te_dir = os.path.join(classify_dir1, 'Severe_NPDR')
grp4Te_dir = os.path.join(classify_dir1, 'Proliferative_DR')

In [46]:
#Transfering grade 0
for index, image in enumerate(class0['Image_name']):
    image_path = os.path.join(classify_dir1, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp0Te_dir, image))

In [47]:
#Transfering grade 1
for index, image in enumerate(class1['Image_name']):
    image_path = os.path.join(classify_dir1, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp1Te_dir, image))

In [48]:
#Transfering grade 2
for index, image in enumerate(class2['Image_name']):
    image_path = os.path.join(classify_dir1, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp2Te_dir, image))

In [49]:
#Transfering grade 3
for index, image in enumerate(class3['Image_name']):
    image_path = os.path.join(classify_dir1, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp3Te_dir, image))

In [50]:
#Transfering grade 4
for index, image in enumerate(class4['Image_name']):
    image_path = os.path.join(classify_dir1, image + '.jpg')
    #print(image_path)
    image = image + '.jpg'
    os.rename(image_path, os.path.join(grp4Te_dir, image))

In [ ]:
##TRANSFERED